.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 10vw;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  padding: 10px;
  margin: 10px;
}

.ErrorField {
  color: red;
}
